.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  display: flex;
  align-items: center;
}

.header__link {
  color: #ccc;
  padding: 10px 16px;
}

.content {
  min-height: 200vh;
}
.content__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150vh;
}
.content--1 {
  background-image: linear-gradient(blue, purple);
}
.content--2 {
  background-image: linear-gradient(orange, yellow 50%, transparent 100%);
}
.content--3 {
  background-image: linear-gradient(green, coral);
}

.mode {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #ccc;
}
.mode__label {
  display: flex;
  align-items: center;
}
.mode__label span{
  margin: 0.5em;
}
.mode__select {
  // width: 200px;
  // background: #444;
}

.link-button {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1.5em;
  border-radius: 0.25rem;
  color: blue;
  text-align: center;
  line-height: 1.5;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}
